extends ./layout/index

block content
  include ./layout/bienvenida
  include ./layout/sobrePlatos
  //- include ./layout/informacion
  //- include ./layout/personalizar
  include ./layout/catalogo
  include ./layout/contacto