@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin telefonoXL {
    @media (min-width: v.$telefonoXL) {
        @content;
    }
}

@mixin telefonoXXL {
    @media (min-width: v.$telefonoXXL) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin tabletXL {
    @media (min-width: v.$tabletXL) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin desktopXXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin boton($color, $texto) {
    background-color: $color;
    font-size: 2rem;
    padding: 1.2rem 4rem;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    color: $texto;
    text-decoration: none;
    transition: background-color .3s ease;
    border: none;
    user-select: none;

    &:hover {
        cursor: pointer;
        background-color: darken($color, 10);
    }

    @include tablet {
        width: 30rem;

    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin bgImage($url, $colorDegradado) {
    background-image: linear-gradient($colorDegradado 0%, $colorDegradado 100%), url($url );
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

@mixin bgColor($colorPrimario) {
    background-image: linear-gradient($colorPrimario 0%, $colorPrimario 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin bgImagePe($url) {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    background-image: url($url );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}