section.bienvenida
  .bienvenida__grid
    section.bienvenida__box
      p.bienvenida__parrafo Bienvenidos a
      h1.bienvenida__h1Titulo Umami
      button.bienvenida__button(type='button') Ver Platos
