section#footerSeccion.footer
  .footer__grid
    h1#footer.footer__H1
      | U
      span.colorUno MAMI
    article.redes
      a.redes__boxRedSocial(href='#')
        span.fa.fa-whatsapp
      a.redes__boxRedSocial(href='#')
        span.fa.fa-twitter
      a.redes__boxRedSocial(href='#')
        span.fa.fa-github
      a.redes__boxRedSocial(href='#')
        span.fa.fa-linkedin
    p.Copyright
      | Copyright &copy; 
      a.aCopy(href='https://portafolio-pdc.netlify.app/') Portafolio-pdc.netlify.app
      |  2025. Todos los derechos reservados.
