section.informacion
  .informacion__grid
    section.informacion__box
      h2.informacion__h2Titulo &iexcl;Actualice al &uacute;ltimo sabor!
      p.informacion__parrafo
        | Est sit amet facilisis magna etiam tempor. Dolor sed viverra ipsum nunc aliquet bibendum enim. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Auctor augue mauris gravida.
    section.informacion__box
      p.informacion__parrafo
        | Est sit amet facilisis magna etiam tempor. Dolor sed viverra ipsum nunc aliquet bibendum enim. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Auctor augue mauris gravida.
      p.informacion__parrafo
        | Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Sodales ut eu sem integer vitae. Nibh tortor id aliquet lectus proin nibh. Sed velit dignissim sodales ut.
    section.informacion__box
      .informacion__boxImg
        img.informacion__img(src='https://yummi-theme.myshopify.com/cdn/shop/files/signature.png?v=1614334584&width=200' alt='')
      span.informacion__spanNombre Tanya - Reciepe
