section.personalizar
  .personalizar__grid
    // <section class="personalizar__box">
    p.personalizar__parrafo Enjoy Great Recipe
    h2.personalizar__h2Titulo Simple And Delicious Food
    h3.personalizar__h3Titulo Flat 20% Discount
    button.personalizar__button(type='button') Shop now
    // </section>
